.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.App {
  text-align: center;
  /* border: 2px solid rgb(102, 22, 230); */
  height: 500px;
  margin-top: 20px;
}

.Sub-btn {
  background-color: red;
  border-radius: 10px;
  border-style: none;
  height: 30px;
}
.Sub-btn:hover {
  background-color: green;
}

.Notes-input {
  height: 200px;
  width: 360px;
  /* background-color: #65cfed; */
  text-align: left;
  border-style: inset;
}
.Notes-input:hover {
  background-color: white;
}

#title {
  height: 60px;
  width: 200px;
}

#title:hover {
  background-color: #e4f4ff;
}

.box-div {
  /* background-color: rgb(63, 225, 63); */
  /* border: 2px solid green; */
  border-radius: 5px;
  width: 300px;
  position: relative;
  left: 460px;
  margin-top: 10px;
  background-image: url("image.jpg");
}

.Title-2 {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-variant: small-caps;
}

.input-box-2 {
  /* border: 2px solid rgb(6, 36, 232); */
  margin-top: 20px;
}

.edit-btn {
  background-color: aquamarine;
  margin-right: 10px;
  border-radius: 5px;
}
.dlt-btn {
  background-color: rgb(13, 76, 204);
  border-radius: 5px;
  color: white;
}
